html {
    background: url(images/water-background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* font-family: sans-serif; */
    font-family: 'Syne Mono', monospace;
}

h1, h2, p[class="ship"], #bottom-buttons button {
    text-align: center;
    font-family: 'Syne Mono', monospace;
}

#game-title {
    font-size: 50px;
}

#bottom-buttons button {
    padding: 5px;
    margin: 10px 5px;
    font-size: 15px;
    /* animation: 2s linear infinite blink; */
}

#bottom-buttons {
    text-align: center;
}

.board-space {
    padding: 5px;
    margin: 5px;
    width: 3vw;
    height: 5vh;
    border: 1px black solid;
}

.row-1, .row-2, .row-3, .row-4, .row-5 {
    display: flex;
    justify-content: center;
}

#board-divider {
    padding: 5px;
    background-color: gray;
    width: 50%;
    margin: 0 auto;
}

.purple-ship {
    background-color: purple;
}

.green-ship {
    background-color: green;
}

.blue-ship {
    background-color: blue;
}

.miss {
    background-color: gray;;
}

.hit {
    background-color: red;
}

#gameboard {
    display: flex;
    justify-content: center;
}

#player-boards {
    /* background-color: white; */
    width: 40%;
    display: inline-block;   
}

#computer-ships, #player-ships {
    /* background-color: red; */
    width: 30%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.computer-ship, .player-ship, .directions {
    margin: 5px;
}

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
.modal-content {
    background-color: lightgray;
    margin: 10% auto;
    padding: 15px;
    border: 1px solid black;
    width: 85%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    cursor: default;
  }

  li {
      margin: 2px 2px;
  }

  .modal-body h2 {
    font-size: 20px;
  }

  /* .nav-button {
    transition-duration: 0.5s;
  } */
  
  .nav-button:hover {
    background-color: darkblue; 
    color: white;
  }

  .container {
    position: relative;
    text-align: center;
  }
  
  .centered-text {
    font-size: 70px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Syne Mono', monospace;
  }