/* Background Image and Page Font */
html {
    background: url(images/water-background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Syne Mono', monospace;
}

#game-title {
    font-size: 50px;
}

h1, h2, p[class="ship"], #bottom-buttons button {
    text-align: center;
}

h1 {
    margin: 15px auto;
}

/* Board Spaces */
.board-space {
    padding: 5px;
    margin: 5px;
    width: 3vw;
    height: 5vh;
    border: 1px black solid;
}

.row-1, .row-2, .row-3, .row-4, .row-5 {
    display: flex;
    justify-content: center;
}

#board-divider {
    padding: 5px;
    background-color: gray;
    width: 50%;
    margin: 0 auto;
}

#gameboard {
    display: flex;
    justify-content: center;
}

#player-boards {
    width: 40%;
    display: inline-block;   
}

/* Board spaces change color when ships are placed on them */
.purple-ship {
    background-color: purple;
}

.green-ship {
    background-color: green;
}

.blue-ship {
    background-color: blue;
}

/* Board spaces change color when shots are taken */
.miss {
    background-color: gray;;
}

.hit {
    background-color: red;
}

/* Left and Right Ship Divs */
#computer-ships, #player-ships {
    width: 30%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
#computer-ships h2, #player-ships h2 {
    padding-top: 20px;
}

.computer-ship, .player-ship, .directions {
    margin: 5px;
}

p[class="directions"] {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

em {
    color: red;
}

button[class="direction"] {
    font-size: 15px;
}

/* Text added over ship images when ships are hit or sunk */
.ship-container {
    position: relative;
    text-align: center;
}
  
.centered-text {
    font-family: 'Syne Mono', monospace;
    font-size: 70px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Bottom Option Buttons */
#bottom-buttons {
    text-align: center;
}

.nav-button:hover {
    background-color: darkblue; 
    color: white;
}

#bottom-buttons button {
    padding: 5px;
    margin: 25px 5px;
    font-size: 15px;
    font-family: 'Syne Mono', monospace;
}

/* Game Instructions Modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: lightgray;
    margin: 10% auto;
    padding: 15px;
    border: 1px solid black;
    width: 85%;
}

.modal-close {
    color: darkgray;
    float: right;
    font-size: 40px;
    font-weight: bold;
}
  
.modal-close:hover,
.modal-close:focus {
    cursor: default;
    color: black;
}

li {
      margin: 2px 2px;
}

.modal-body h2 {
    font-size: 20px;
}